
MASTER_IP=localhost

# TODO - setup the code to accept this as full connection string, not just composing MASTER_IP with port
MONGO_URI=
REDIS_URI=

# How many celery workers to spawn
CONCURRENCY=6

# Local path to the working volume of the worker
UTILITY_VOLUME=

# If we don't want to keep the dynamic kernels, set to 1
PURGE_DYNAMIC_KERNELS=

SUPRESS_TQDM=false

LOG_LEVEL=WARNING

# Do not save datafiles into RAM, use disk
# Downloading directly to RAM wll decrease overhead
SAVE_DATAFILES_TO_RAM=0


